Plug 'tpope/vim-surround'

inoremap jk <ESC>
inoremap kj <ESC>
set timeoutlen=100

" easier split navigation
        nnoremap <C-J> <C-W><C-J>
        nnoremap <C-K> <C-W><C-K>
        nnoremap <C-L> <C-W><C-L>
        nnoremap <C-H> <C-W><C-H>

        vnoremap <C-c> "+y
